@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "raleway", sans-serif;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-left: 40px;
}

.entete {
  width: 100%;
  display: flex;
}
.logo {
  margin-top: 30px;
  width: 70px;
  flex: 1;
}

.button {
  display: flex;
}

.button > * {
  display: block;
  cursor: pointer;
  margin-top: 15px;
  padding: 10px 30px;
  padding-top: 37px;
}

.button a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 35px;
  color: #0065fc;
}

.firstbutton a {
  padding: 10px 30px;
}
.button-bold {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  padding-top: 37px;
  margin-top: 15px;
}

.button-bold a {
  color: #0065fc;
}

/*corps de page*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recherche {
  width: 94%;
}
/*TITRES*/

.titre {
  margin-bottom: 15px;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
}
.soustitre {
  margin-left: 3px;
}

/*RECHERCHE*/

.search-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 67% 28px 0;
  border: 2px #f2f2f2 solid;
  border-radius: 15px;
  height: 51px;
  width: 405px;
}

/*icon*/
.iconmap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #f2f2f2;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 51px;
  width: 52px;
}

/*champ de saisie*/
input {
  padding-left: 17px;
  border: transparent;
  font-family: "raleway";
  font-size: 15px;
  height: 47px;
  width: 234px;
}

/*bouton rechercher*/

.rechercher {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0065fc;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 51px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  font-size: 17px;
  color: white;
}

/* FILTRES + INFOS */

.filtres {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 25px;
  margin-right: 25%;
  flex-wrap: wrap;
}

.filtres a {
  display: flex;
  border: 2px #f2f2f2 solid;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  padding-right: 38px;
}

.filtres a:hover {
  border: 2px #0065fc solid;
  color: #0065fc;
  background-color: #deebff;
}

/*ICON FILTRES*/

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px transparent solid;
  border-radius: 30px;
  width: 45px;
  height: 45px;
  padding: 12px;
  margin-right: 10px;
  background-color: #deebff;
  color: #0065fc;
}

/*INFOS*/
.info {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.iconinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px #f2f2f2 solid;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: #0065fc;
  padding: 4px;
  margin-right: 5px;
  font-size: 8px;
}
/*HEBERGEMENT ET ENFANTS*/

h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 20px 0 30px;
  padding-bottom: 20px;
}

h4 {
  font-size: 16px;
  margin: 10px 0 0 30px;
  padding-bottom: 20px;
}
h4 :hover {
  text-decoration: underline;
}

.hebergement {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  width: 94%;
}

/*le bloc gris*/
.maincontener {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: auto;
  margin-right: 15px;
  padding-top: 25px;
}

.cardcontener {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/*la carte entière*/
.cards {
  width: 248px;
  background-color: white;
  border-radius: 16px;
  margin-bottom: 35px;
  padding: 5px 5px 15px 5px;
  box-shadow: 0px 0px 10px lightgrey;
}

/*la photo*/
.imagecard {
  display: flex;
  align-items: center;
  width: 237px;
  height: 115px;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  margin-bottom: 5px;
}
.imagecard img {
  width: 100%;
}

.descriptioncard {
  margin-left: 10px;
}
.name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}
.stars {
  display: flex;
  margin-top: 10px;
}
.bluestar {
  color: #0065fc;
  font-size: 14px;
}
.greystar {
  color: #f2f2f2;
  font-size: 14px;
}
/*ASIDE*/

.aside-maincontener {
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 623px;
  max-width: 440px;
  padding-top: 25px;
}

.aside-maincontener h2 {
  display: flex;
  justify-content: space-between;
}
.aside-cardcontener {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.aside-cards {
  display: flex;
  overflow: hidden;
  width: 320px;
  height: 137px;
  background-color: white;
  border-radius: 16px;
  margin-bottom: 29px;
  padding: 5px 5px 5px 5px;
  box-shadow: 0px 0px 10px lightgrey;
}

.aside-imagecard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  border-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
}

.aside-imagecard img {
  height: 100%;
  width: 100%;
}

.aside-cardcontener {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aside-text {
  margin-left: 16px;
}

.aside-price {
  margin-bottom: 40px;
}

/*ACTIVITE*/

.activites {
  width: 94%;
}
.activite-maincontener {
  display: flex;
  flex-direction: column;
  height: auto;
}

.activite-maincontener h2 {
  margin: 0;
}
.activite-cardcontener {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.bigactivite-cards {
  height: 448px;
  width: 300px;
  border-radius: 20px;
  margin-bottom: 29px;
  box-shadow: 5px 5px 5px #f2f2f2;
}

.bigactivite-cards img {
  height: 100%;
}

.activite-imagecard {
  height: 393px;
  width: 300px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
}

.smallactivite-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  margin: 0 17px 30px 17px;
  width: 309px;
  height: 455px;
}

.medium-card {
  align-items: center;
  width: 300px;
  height: 215px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 5px #f2f2f2;
}

.medium-imagecard img {
  width: 100%;
}

.medium-imagecard {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 300px;
  height: 166px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.mini-card {
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  height: 181px;
  box-shadow: 5px 5px 5px #f2f2f2;
}

.mini-imagecard img {
  width: 100%;
}
.mini-imagecard {
  display: flex;
  width: 300px;
  height: 130px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.activite-name {
  margin-left: 15px;
  margin-top: 20px;
  font-weight: bold;
}
/*FOOTER*/
footer {
  background-color: #f2f2f2;
}

.textfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 176px;
  max-width: 974px;
  margin-left: 60px;
}

footer h3 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 16px;
}
footer p {
  margin-bottom: 10px;
}
/* Liens du footer */

footer a {
  outline: none;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  padding-top: none;
}

footer a:visited {
  color: black;
}

/*RESPONSIVE POUR GRANDS ECRANS */
@media (min-width: 1366px) {
  /*ENTETE*/
  .entete {
    margin-right: 55px;
  }
  /*ASIDE*/
  .aside-maincontener {
    max-width: 650px;
  }
  .aside-cards {
    width: 420px;
    height: 152px;
  }
  /*HEBERGEMENT*/
  .cards {
    width: 339px;
  }
  .imagecard {
    width: 100%;
  }
  /*ACTIVITES*/
  .activite-maincontener {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .activite-maincontener h2 {
    margin-right: 90%;
  }
  .activite-cardcontener {
    display: flex;
    flex-wrap: wrap;
  }
  .bigactivite-cards {
    width: 400px;
  }
  .activite-imagecard {
    width: 100%;
  }
  .medium-card {
    width: 340px;
  }
  .medium-imagecard {
    width: 100%;
  }

  .mini-card {
    width: 340px;
  }
  .mini-imagecard {
    width: 100%;
  }
}
/*RESPONSIVE POUR LES ECRANS MOYENS TYPES TABLETTES ORDI PORTABLE 
@media (min-width: 776px) and (max-width: 1365px) {
  .aside-maincontener {
    max-width: 520px;
  }
  .aside-cards {
    width: 350px;
    height: 152px;
  }
}*/
/*RESPONSIVE POUR ECRAN TYPE IPHONE 8 & Tablettes */
@media (max-width: 992px) {
  /*ENTETE*/

  header {
    margin-left: 0;
    align-items: center;
  }
  .entete {
    flex-wrap: wrap;
    margin: 0;
  }
  .logo {
    order: 1;
    padding-left: 10px;
    margin-top: 0;
  }

  .button {
    order: 3;
    width: 100%;
  }
  .firstbutton {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .firstbutton a {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #f2f2f2;
  }
  .firstbutton a:hover {
    border-top: none;
    padding-top: 10px;
    border-bottom: 2px solid #0065fc;
  }
  .button-bold {
    order: 2;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    margin-top: 10px;
  }
  h1 {
    font-size: 25px;
  }
  .main {
    margin: 0;
    padding: 0;
  }
  /*BOUTON DE RECHERCHE*/
  .recherche {
    margin-left: 0;
    padding: 0 15px;
  }
  .search-button {
    width: 60%;
  }
  .search-button {
    width: 100%;
  }
  /*icon*/
  .iconmap {
    width: 20%;
  }
  /*champ de saisie*/
  input {
    width: 100%;
  }
  /*FILTRES*/
  .filtres {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 19px;
    width: 100%;
  }
  .filtres p {
    margin-bottom: 19px;
  }
  .filtres a {
    margin-bottom: 19px;
  }
  /*LES BLOCS*/
  .hebergement {
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
  /*Populaire*/
  .populaire {
    width: 100%;
  }
  .aside-maincontener {
    height: 100%;
    max-width: 775px;
    border-radius: 0;
  }
  .aside-maincontener h2 {
    display: flex;
    justify-content: space-between;
  }
  .aside-cardcontener {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aside-cards {
    height: 137px;
  }
  .aside-imagecard img {
    height: 100%;
  }
  .aside-price {
    margin-bottom: 36px;
  }
  /*Choix*/
  .maincontener {
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0;
    background-color: white;
  }

  .cardcontener {
    flex-direction: column;
    align-items: center;
  }
  .cards {
    width: 317px;
  }
  .imagecard img {
    width: 100%;
  }
  .imagecard {
    width: 100%;
  }
  /*Activités*/
  .activites {
    margin: 0;
  }
  .activite-maincontener {
    display: flex;
    flex-direction: column;
  }
  .activite-cardcontener {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .activite-maincontener h2 {
    margin-left: 29px;
  }
  .bigactivite-cards {
    width: 317px;
    height: auto;
    padding-bottom: 22px;
    margin-bottom: 32px;
  }
  .bigactivite-cards img {
    width: 100%;
    height: auto;
  }
  .activite-imagecard {
    height: 120px;
    width: 100%;
  }
  .medium-card {
    width: 317px;
    height: 100%;
    margin-bottom: 22px;
  }

  .medium-imagecard img {
    width: 100%;
  }

  .medium-imagecard {
    height: 120px;
    width: 100%;
  }
  .mini-card {
    width: 317px;
    height: 100%;
    margin-bottom: 22px;
  }
  .mini-imagecard img {
    width: 100%;
  }
  .mini-imagecard {
    height: 120px;
    width: 100%;
  }
  .smallactivite-cards {
    padding: 0;
    height: 398px;
    margin-bottom: 32px;
  }
  /*FOOTER*/
  .textfooter {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
  }
  footer {
    background-color: #f2f2f2;
    height: 485px;
    max-width: 775px;
  }
  footer h3 {
    margin-top: 25px;
  }
  footer p {
    margin-bottom: 13px;
  }
}
