@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.* {
  margin: 5px;
  padding: 0px;
}
body {
  font-family: "raleway", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 0px;
}

/*position du logo et du menu*/

.entete {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.button {
  display: flex;
  border-top: 2px solid transparent;
}

.button > * {
  cursor: pointer;
  margin: 15px 25px;
  padding: 0 10px;
  
}

.button-hebergement {
}
.button-activite {
}
.inscrire {
  
}

/*Apparence des liens (ancres) du menu */

a {
  text-decoration: none;
  color: black;
}

 a:hover {
  
  text-decoration: overline;
  color: #0065FC;
}

.inscrire a {
  color:#0065FC;
  text-decoration: none;
  font-weight: bold;
}
.inscrire a:hover {
  text-decoration: underline;
  font-size: 18px;
 
}

/*corps de page : a faire plus tard*/

.main {
  display: flex;
  flex-direction: column;
}

.titre {
  font-size: 15px;
  font-weight: bold;
}

/*recherche et enfants*/
/*
.recherche {
  background-color: cadetblue;
}
.search-button{

}
*/

/* Filtre et enfants*/
.filtre {
  display: flex;
  justify-content: space-between;
  margin-right: 40%;
  font-weight: bold;
}

.economique {
  border-radius: 30px;
}
/*.hebergement {
    background-color: cadetblue;
  display: flex;
  justify-content: space-between;
}

.hebergement > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.choix {
  height: 75%;
  padding: 20%;
  background-color: cadetblue;
}
.populaires {
  height: 25%;
  padding: 20%;
  background-color: cadetblue;
}

.activite {
  background-color: cadetblue;
  margin: 10px 10px;
  padding: 0 10px;
}*/

/*footer ok*/
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2; 
  padding-right: 30%;
  padding-left: 2%;
}

.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Liens du footer */

.footer a {
  outline: none;
  text-decoration: none;
}
.footer a:hover {
  text-decoration:underline;
 
}

.footer a:visited {
  color: black;