@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "raleway", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

/*position du logo et du menu*/

.logo{
  margin-top: 35px;
}

.entete {
  
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

}

.button {
  display: flex;
}

.button > * {
  display: block;
  cursor: pointer;
  margin: 15px 15px;
  padding: 10px 10px;
  padding-top: 37px;
}

.button-bold {
  color:#0065FC;
  text-decoration: none;
  font-weight: bold;
}

/*Apparence des liens (ancres) du menu */

a {
  text-decoration: none;
  color: black;
}

.button a:hover {
  border-top: 2px solid #0065FC;
  padding-top: 35px;
  color: #0065FC;
}

.button-bold:hover {
  border-top: none;
}

/*corps de page : a faire plus tard*/

.main {
  display: flex;
  flex-direction: column;
}

/*TITRES*/

.titre{
  margin-bottom: 15px;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
}
.soustitre{
  margin-left: 3px;
}

/*RECHERCHE*/

.search-button{
  display: flex;
  align-items: center;
  margin: 0 67% 25px 0;
  padding-right:30px;
  border: 2px #F2F2F2 solid;
  border-radius: 25px;
}
/*icon*/
.iconmap {
  font-size: 15px;
  background-color: #F2F2F2;
  border-radius: 13px;
  padding:14px 25px 10px 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/*champ de saisie*/
input{
  padding:11px 25px 11px 25px;
  border: transparent;
  border-radius: 30px;
  font-family: "raleway";
  font-size: 15px;
}

/*bouton rechercher*/

label {
  background-color: #0065FC;
  border-radius: 25px;
  padding:12px 25px 10px 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  align-items: center;
}

label a {
  font-size: 17px;
  color: white;
}

/*FILTRES + INFOS */

.filtres{
  display: flex;
  justify-content: space-between;
  align-items:center;
  font-weight: bold;
  margin-right: 25%;
  margin-bottom: 25px;
}

.filtres a {
  display: flex;
  border: 2px #F2F2F2 solid;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}

.filtres a:hover{
   border: 2px #0065FC solid;
   color:#0065FC;
   background-color: #DEEBFF;
} 


/*ICON FILTRES*/

.icon {
  border: 2px transparent solid;
  border-radius: 30px;
  padding: 12px;
  margin-right: 10px;
  background-color: #DEEBFF;
  color: #0065FC;
}

.info{
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  
}

.iconinfo{
  border: 1px #F2F2F2 solid;
  border-radius: 70px;
  color: #0065FC;
  padding: 0.5%;
  font-size: 10PX;
}


/*HEBERGEMENT ET ENFANTS*/

.zones{
  background-color: #F2F2F2;
  border-radius: 15px;
}

.hebergement {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  }
  .zone1{
    height: 70%;
    margin-right: 10px;
  }
  .zone2{
    height: 30%;
    margin-left: 10%;
  }


/*ACTIVITES*/

.activites{
  background-color: #F2F2F2;
  border-radius: 15px;
  padding: 40px;
  margin-bottom: 20px;
}

/*FOOTER*/
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2; 
  padding-right: 30%;
  padding-left: 2%;
  padding-bottom: 15px;
  padding-top: 15px;
}

.footer h3 {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}
.footer p {
  margin-bottom: 10px;
}

/* Liens du footer */

.footer a {
  outline: none;
  text-decoration: none;
}
.footer a:hover {
  text-decoration:underline;
  padding-top: none;
 
}

.footer a:visited {
  color: black;